@import url("https://fonts.googleapis.com/css?family=Acme%7CLobster%7CPatua+One%7CRubik%7CSniglet");
* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient-two: linear-gradient(to right top, #D16BA5, #C777B9, #BA83CA, #AA8FD8, #9A9AE1, #8AA7EC, #79B3F4, #69BFF8, #52CFFE, #41DFFF, #46EEFA, #5FFBF1);
  --bggradient: linear-gradient(to bottom, #DD2476, #FF512F);
  --light-gray: rgba(255, 255, 255, 0.877);
}
body {
font-family: var(--Rubik);
}
header {
  background: var(--bggradient-two);
}
header a {
  font-size: 0.9rem;
  color: whitesmoke;
}
header .nav-item:last-child {
  padding-right: 10rem;
}
header .nav-item {
  padding: 0.9rem;
}
header .navbar-brand {
  padding-left: 7rem;
}
header .nav-item:last-child {
  padding-right: 10rem;
}
header .row .col-md-7 {
  padding: 5rem 0.2rem;
}
header .row .col-md-7 h6  {
  padding: 0.2rem;
  letter-spacing: 4px;
}
header .row .col-md-5 {
  padding: 0.2rem;
}
header .row .col-md-5 img {
  width: 100%;
}
.btn-custom {
  border-radius: 20px;
  font-weight: bold;
}
/* sectipom-1 */
.section-1 {
  padding: 4rem;
}
.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  /* border-radius: 0.2rem; */
}
.section-1 .row .col-md-6 .panel {
  border-radius: 3px;
  padding: 7rem 3rem;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
}
.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4rem 0;
  font-size: 2rem;
}
.section-1 .row .col-md-6 .panel p {
  font-size: 0.9rem;
}
/*  Section 2  */
.cover {
  width: 100%;
  height: 30rem;
  background: url(./img/pexels-photo-452738.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 6rem;
}
.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 3rem;
  color: whitesmoke;
}
.cover .content > p {
  font-family: var(--Rubik);
  font-size: 1rem;
  color: #E5E5E5;
}
.numbers {
  margin-top: -6rem;
}
.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 2rem;
  margin:1rem;
  border-radius: .5rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}
.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}
.numbers .rect > p {
  font-family: var(--Patua);
}